@import "../../scss/variable";
.header {
  background-color: $grey-900;
  color: $white;
  height: 100vh;
  width: 300px;
  transform: translateX(0);
  // position: fixed; /* Qotirib qo'yadi */
  // top: 0;
  // left: 0;
  // width: 80px; /* Sidebarning kengligi */
  // height: 100vh;
}

.header__imgBox {
  padding-left: 3.2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.header__logoWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding-top: 4rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.button__img {
  width: 2.4rem;
  height: 2.4rem;
}

.header__pageName {
  max-width: 27.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
  padding: 1.6rem 3.2rem;
  background-color: inherit;
  border: none;
  border-radius: 0 1.2rem 1.2rem 0;
}

.header__pageName:hover {
  background-color: $white;
}

.header__pageName:hover .header__link {
  color: $grey-900;
}

.header__pageName:hover .button__img {
  color: $green;
}

.header__list {
  display: flex;
  flex-direction: column;
}

.header__btn {
  max-width: 27.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
  padding: 1.6rem 3.2rem;
  background-color: inherit;
  border: none;
  border-radius: 0 1.2rem 1.2rem 0;
}

.header__btn:hover {
  background-color: $white;
}

.header__btn:hover .header__link {
  color: $grey-900;
}

.header__btn:hover .button__img {
  color: $green;
}

.header__link {
  font-weight: 700;
  font-size: $text-preset-3;
  line-height: $line-height-150;
  letter-spacing: 1px;
  color: $beige-500;
}

.headerMenu__box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-left: 3.2rem;
  background-color: $grey-900;
  margin-top: 5rem;
}

.headerMenu__link {
  background-color: inherit;
  border: none;
  font-weight: 700;
  font-size: $text-preset-3;
  line-height: $line-height-150;
  letter-spacing: 1px;
  color: $beige-500;
}

.headerMenu__link:hover {
  color: $white;
}

.rightIconBox {
  padding-top: 4rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.header__rightIcon {
  width: 2.4rem;
  height: 2.4rem;
}

// Media

@media (max-width: 900px) {
  .header__media {
    display: none;
  }
}
